@import url("https://fonts.googleapis.com/css?family=Roboto|Stylish&display=swap");

:root {
  --black: rgba(0, 0, 0, 1);
  --white: rgb(249, 248, 246);
  --oasis-blue: rgba(191, 215, 234, 1);
}

h1, h3 {
  text-align: center;
}
.container {
  display: grid;

  grid-template-areas:
    "header header header"
    "nav content aside"
    "footer footer footer";
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: auto 1fr 200px;
  grid-gap: 10px;
  height: 100vh;
}

header {
  grid-area: header;
  background-color: var(--oasis-blue);
}

nav {
  grid-area: nav;
  margin-left: 0.5rem;
  background-color: var(--oasis-blue);
}

.doctors {
  border: 1px solid var(--white);
  text-align: center;
}

main {
  grid-area: content;
  background-color: var(--oasis-blue);
}

aside {
  grid-area: aside;
  margin-right: 0.5rem;
  background-color: var(--oasis-blue);
}

.clients {
  border: 1px solid var(--white);
  text-align: center;
}

footer {
  grid-area: footer;
  background-color: var(--oasis-blue);
}
.appointment {
  border: 1px solid var(--white);
  font-family: "Stylish", sans-serif;
  /* margin: 1px;
   padding: 5px;
  width: 400px;
  height: 250px; */
}

form {
  display: grid;
  grid-template-columns: [labels] auto [controls] 1fr;
  grid-auto-flow: row;
  grid-gap: 0.3em;
  background: #eee;
  padding: 0.1em;
  width: 450px;
  margin: 0 auto;
}

form > label {
  grid-column: labels;
  grid-row: auto;
}

form > input,
form > textarea,
form > button {
  grid-column: controls;
  grid-row: auto;
  border: none;
  padding: 0.2em;
}

body {
  margin: 0;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "nav"
      "content"
      "aside"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      minmax(200px, auto) /* Nav */
      1fr /* Content */
      minmax(75px, auto) /* Sidebar */
      auto; /* Footer */
  }

  nav,
  aside {
    margin: 0;
  }
  nav {
    padding: 20px 20%;
  }
}
